@model TechBlog.Models.Post

@{
    ViewBag.Title = "Details";
}


<div>
    <article class="details-blog-teaser">
        <header>
            <h2 class="details-title">@Html.DisplayFor(model => model.Title)</h2>
            <div class="about">
                Posted on <i>@Html.DisplayFor(model => model.Date)</i>
                @if (@Html.DisplayFor(model => model.Author) != null)
                {
                    @:by <i>@Html.DisplayFor(model => model.Author.FullName) (@Html.DisplayFor(model => model.Author.UserName))</i>
                }
            </div>
            <hr>
        </header>
        <div class="details-body">@Html.Raw(Model.Body)</div>
        <div class="clearfix text-center">

            <div class="details-body">
                @foreach (var comment in Model.Comments)
                {
                    if (comment != null)
                    {
                        <div class="details-blog-teaser text-center">
                            <div class="about text-center">
                                Posted on <i>@Html.DisplayFor(c => comment.Date)</i>
                                @if (@Html.DisplayFor(c => comment.Author) != null)
                                {
                                    @:by <i>@Html.DisplayFor(c => comment.Author.FullName) (@Html.DisplayFor(c => comment.Author.UserName))</i>
                                }
                            </div>
                            <hr>
                            @Html.Raw(comment.Body)
                            <hr>
                            @if (User.IsInRole("Administrators") || (comment.Author != null && User.Identity.Name == comment.Author.UserName))
                            {
                                <div class="btn btn-default">
                                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, null)
                                </div>
                            }
                            @if (User.IsInRole("Administrators") || (comment.Author != null && User.Identity.Name == comment.Author.UserName))
                            {
                                <div class="btn btn-default">
                                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, null)
                                </div>
                            }

                            @*@* Replay code -------------------------------------- *@

                            @*<div class="details-body">
                                @foreach (var replay in Model.Replays)
                                {
                                    if (replay != null)
                                    {
                                        <div class="details-blog-teaser text-center">
                                            <div class="about text-center">
                                                Posted on <i>@Html.DisplayFor(c => replay.Date)</i>
                                                @if (@Html.DisplayFor(c => replay.Author) != null)
                                                {
                                                    @:by <i>@Html.DisplayFor(c => replay.Author.FullName) (@Html.DisplayFor(c => replay.Author.UserName))</i>
                                }
                                            </div>
                                            <hr>
                                            @Html.Raw(replay.Body)
                                            <hr>
                                            @if (User.IsInRole("Administrators") || (replay.Author != null && User.Identity.Name == replay.Author.UserName))
                                            {
                                                <div class="btn btn-default">
                                                    @Html.ActionLink("Edit", "Edit", "Replays", new { id = replay.Id }, null)
                                                </div>
                                            }
                                            @if (User.IsInRole("Administrators") || (replay.Author != null && User.Identity.Name == replay.Author.UserName))
                                            {
                                                <div class="btn btn-default">
                                                    @Html.ActionLink("Delete", "Delete", "Replays", new { id = replay.Id }, null)
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            </div>*@
                            
                            @* Replay code----------------------END *@
                            @*<div class="btn btn-default">
                                @Html.ActionLink("Create a Replay", "Create", "Replays", new { id = comment.Id }, null)
                            </div>*@
                        </div>                         
                    }
                }
            </div>

            <div class="btn btn-default">
                @Html.ActionLink("Create a Comment", "Create", "Comments", new { id = Model.Id }, null)
            </div>
        </div>
    </article>
</div>

<p>
    @if (User.IsInRole("Administrators") || (Model.Author != null && User.Identity.Name == Model.Author.UserName))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    }
    <div class="btn btn-default">
        @Html.ActionLink("Back to Posts", "Index")
    </div>
</p>
