@model TechBlog.Models.Post

@{
    ViewBag.Title = "Details";
}


<div>
    <article class="details-blog-teaser">
        <header>
            <h2 class="details-title">@Html.DisplayFor(model => model.Title)</h2>
            <div class="about">
                Posted on <i>@Html.DisplayFor(model => model.Date)</i>
                @if (@Html.DisplayFor(model => model.Author) != null)
                {
                    @:by <i>@Html.DisplayFor(model => model.Author.FullName) (@Html.DisplayFor(model => model.Author.UserName))</i>
                }
            </div>
            <hr>
        </header>
        <div class="details-body">@Html.Raw(Model.Body)</div>
        <div class="clearfix">
            @*<div class="likes">
                LIKES:
            </div>*@
            <button data-id="@Model.Id" type="button" class="like-button" title="Click to like this post!">
                <i class="fa fa-thumbs-up"></i> Like
                |
                <span class="like-count">@Model.PostLikes</span>
            </button>

            <div>
                @foreach (var comment in Model.Comments)
                {
                    if (comment != null)
                    {
                        @Html.Partial("Index", comment)
                    }
                    else
                    {
                        <div>
                            No comments
                        </div>
                    }
                }
            </div>

            <p>
                @Html.ActionLink("Comment", "Create", "Comments", new { id = Model.Id }, null)
            </p>
        </div>
    </article>
</div>

<p>
    @if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
