@model TechBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>

    </dl>
</div>

<button data-id="@Model.Id" type="button" class="like-button" title="Click to like this post!">
    <i class="fa fa-thumbs-up"></i> Like
    |
    <span class="like-count">@Model.PostLikes</span>
</button>

<div>
    @foreach (var comment in Model.Comments)
    {
        if (comment != null)
        {
            @Html.Partial("Index", comment)
        }
        else
        {
            <div>
                No comments
            </div>
        }
    }
</div>

<p>
    @Html.ActionLink("Comment", "Create", "Comments", new { id = Model.Id }, null)
</p>

<p>
    @if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
