@model TechBlog.Models.Post

@{
    ViewBag.Title = "Details";
}


<div>
    <article class="details-blog-teaser">
        <header>
            <h2 class="details-title">@Html.DisplayFor(model => model.Title)</h2>
            <div class="about">
                Posted on <i>@Html.DisplayFor(model => model.Date)</i>
                @if (@Html.DisplayFor(model => model.Author) != null)
                {
                    @:by <i>@Html.DisplayFor(model => model.Author.FullName) (@Html.DisplayFor(model => model.Author.UserName))</i>
                }
            </div>
            <hr>
        </header>
        <div class="details-body">@Html.Raw(Model.Body)</div>
        <div class="clearfix text-center">
            @*<div class="likes">
                LIKES:
            </div>*@
            <button data-id="@Model.Id" type="button" class="like-button" title="Click to like this post!">
                <i class="fa fa-thumbs-up"></i> Like
                |
                <span class="like-count">@Model.PostLikes</span>
            </button>

            <div class="details-body">
                @foreach (var comment in Model.Comments)
                {
                    if (comment != null)
                    {
                        <div class="details-blog-teaser text-center">
                            <div class="about text-center">
                                Posted on <i>@Html.DisplayFor(c => comment.Date)</i>
                                @if (@Html.DisplayFor(c => comment.Author) != null)
                                {
                                    @:by <i>@Html.DisplayFor(c => comment.Author.FullName) (@Html.DisplayFor(c => comment.Author.UserName))</i>
                                }
                            </div>
                            <hr>
                            @Html.Raw(comment.Body)
                            <hr>
                            <div class="btn btn-default"> 
                                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, null)
                            </div>
                            <div class="btn btn-default">
                                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, null)
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="btn btn-default">
                @Html.ActionLink("Create a Comment", "Create", "Comments", new { id = Model.Id }, null)
            </div>
        </div>
    </article>
</div>

<p>
    @if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    }
    <div class="btn btn-default">
        @Html.ActionLink("Back to Posts", "Index")
    </div>
</p>
