@model List<TechBlog.Models.Post>

@{
    ViewBag.Title = "Home";
}



@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @Html.Raw(@input)
}
else
{
        @Html.Raw(@input.Substring(0, length))<text>...</text>
}
}

@{
    ViewBag.Title = "TechBlog";
}

<body class="background-index">
    <div class="row">
        <div class="clip-text jumbotron">
            <h1>3CODEsquad's @*<input type="text" id="clock" disabled />*@</h1>
            <p class="techblog">TechBlog</p>
        </div>
        <div class="col-md-8 blog-main">
            <div class="row">
                @foreach (var post in Model)
                {
                    <div class="col-md-6 col-sm-6">
                        <article class="blog-teaser">
                            <header>
                                <h2 class="title" data-toggle="tooltip" data-placement="top" title="@post.Title"><a href="/Posts/Details/@post.Id">@Truncate(post.Title, 35)</a></h2>
                                <div class="about">
                                    Posted on <i>@post.Date</i>
                                    @if (post.Author != null)
                {
                                        @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                                </div>
                                <hr>
                            </header>
                            <div class="body post">@Truncate(post.Body, 400)</div>
                            <div class="clearfix">
                                <a href="/Posts/Details/@post.Id" class="btn btn-tales-one">Read more</a>
                                Comments: @post.CommentsCount
                            </div>                          
                        </article>
                    </div>
                }               
            </div>
            <a href="/Posts" class="btn more-posts">More posts</a>
        </div>
        <aside class="col-md-3 side">
            <div class="aside-widget">
                <header class="recommended">
                    <h3>Top 5 Most Commented</h3>
                    <hr />
                </header>
                <div class="body">
                    <ul class="tales-list">
                        @foreach (var recommended in ViewBag.SidebarPosts)
                        {
                            <li><a href="/Posts/Details/@recommended.Id">@recommended.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </aside>
        @*@Scripts.Render("~/Scripts/Clock.js")*@
    </div>
</body>
