@{
    ViewBag.Title = "Home";
}

@model List<TechBlog.Models.Post>

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @Html.Raw(@input)
}
else
{
        @Html.Raw(@input.Substring(0, length))<text>...</text>
}
}

<div class="jumbotron">
    <h1>Welcome to 3CODEsquad's blog</h1>
    <input type="text" id="clock" disabled />
</div>

<body class="background-index">
    <aside class="col-md-3 side">
        <div class="aside-widget">
            <header class="recent-posts">
                <h3>Recent Posts</h3>
            </header>
            <div class="body">
                <ul class="tales-list">
                    @foreach (var recentPost in ViewBag.SidebarPosts)
                    {
                        <li><a href="/Posts/Details/@recentPost.Id">@recentPost.Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </aside>
    <main>
        <div class="col-md-8">
            <div class="row">
                @foreach (var post in Model)
                {
                    <div class="col-md-6 col-sm-6">
                        <article class="blog-teaser">
                            <header>
                                <h2 class="title"><a href="/Posts/Details/@post.Id">@Truncate(post.Title, 35)</a></h2>
                                <div class="about">
                                    Posted on <i>@post.Date</i>
                                    @if (post.Author != null)
                {
                                        @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                                </div>
                                <hr>
                            </header>
                            <div class="body post">@Truncate(post.Body, 300)</div>
                            <div class="clearfix">
                                <a href="/Posts/Details/@post.Id" class="btn btn-tales-one">Read more</a>
                                <div class="likes">
                                    LIKES: @post.PostLike
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
        </div>
    </main>
    @Scripts.Render("~/Scripts/Site.js")
</body>
